################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
/StudentManagement/.vs/StudentManagement/v16
/StudentManagement/StudentManagement/obj
/StudentManagement/StudentManagement/bin